<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet" />

    <title>About Sign-nificant</title>
    <meta name="description"
        content="Learn more about the team behind Sign-nificant, an interactive dynamic sign language recognizer" />
</head>

<body>
  <div class="about-container">
    <h1>About Sign-nificant</h1>
    
    <p style="text-align:center"> This is my Data Science Project where,</p>
    <p style="text-align:center"> <strong>This project aims to:</strong>
        <ul>
          <li>To be able to identify the specific 5 sign language made by hand gestures of the end users through computer vision</li>
          <li>To train a model using LSTM algorithm to recognize 5 dynamic sign language with the highest possible accuracy.</li>
          <li>To present an interactive way the meaning of the 5 dynamic sign language to the users using suitable application framework</li>
        </ul>
    </p>

    <p style="text-align:center"> <strong>Functionality:</strong>
      <ul>
        <li>Able to attract people to learn sign language</li>
        <li>Help to bridge the communication gap between hearing and non-hearing individuals </li>
        <li>Can be used as an educational tool for people who are learning sign language, allowing them to practice and improve their skills</li>
      </ul>
    </p>

  <p style="text-align:center"> <strong>Potential stakeholders:</strong> 
    <ul>
      <li>School</li>
      <li>Families and caregivers of individuals who use sign language </li>
      <li>Interpreters and translators for sign language</li>
    </ul>
  </p>
    <p style="text-align:center"> This project is open-source and the code is available on <a href="https://github.com/yasminhannahza/finalized-ds-project">Github</a></p>
    <p style="text-align:center">If you have any questions or feedback, please contact me at <a href="mailto:yasminhannahz@gmail.com">yasminhannahz@gmail.com</a></p>
  </div>
</body>


</html>
