<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet" />

    <title>How To Use</title>
    <meta name="description"
        content="This is the user manual for Sign-nificant, an interactive dynamic sign language app created using LSTM keypoint detection, created by Yasmin Hannah." />
</head>

<body>
  <div class="manual-container">
    <h1>How to Use Sign-nificant?</h1>
    <p>In order to deploy this app in your local host, you will be required to download the source code first which is availabe on  <a href="https://github.com/yasminhannahza/finalized-ds-project">Github</a></p>
    <p>The instruction step-by-step were also included there :D</p>
</body>


</html>
