<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet" />

    <title>How To Use</title>
    <meta name="description"
        content="This is the user manual for Sign-nificant, an interactive dynamic sign language app created using LSTM keypoint detection, created by Yasmin Hannah." />
</head>

<body>
  <div class="manual-container">
    <h1>How to Use Sign-nificant?</h1>
    <p>Sign-nificant is an interactive dynamic sign language game created by Yasmin Hannah using LSTM keypoint detection. The game aims to promote the learning and understanding of sign language among individuals who are interested in learning the language.</p>
    <p>This project is open-source and the code is available on GitHub.</p>
    <p>If you have any questions or feedback, please contact us at <a href="mailto:contact@sign-nificant.com">contact@sign-nificant.com</a></p>
  </div>
</body>


</html>
